<ul class="collection">
  <li class="collection-item avatar row">
    <a routerLink="/ki_ri_mi"><img src="assets/images/ki_ri_mi.png" alt="" class="circle"></a>

    <p class="col s8">ki_ri_miさんがあなたの投稿に「コメント」しました。<span class="grey-text">2分前</span></p>
    <a routerLink="/photo/bbb" class="col s4"><img src="assets/images/sample-2.jpg" class="responsive-img photo right"></a>
  </li>
  <li class="collection-item avatar row">
    <a routerLink="/ki_ri_mi"><img src="assets/images/ki_ri_mi.png" alt="" class="circle"></a>

    <p class="col s8">ki_ri_miさんがあなたの投稿に「いいね！」しました。<span class="grey-text">3分前</span></p>
    <a routerLink="/photo/bbb" class="col s4"><img src="assets/images/sample-2.jpg" class="responsive-img photo right"></a>
  </li>
  <li class="collection-item avatar row">
    <a routerLink="/ki_ri_mi"><img src="assets/images/ki_ri_mi.png" alt="" class="circle"></a>

    <p class="col s8">ki_ri_miさんがあなたを「フォロー」しました。<span class="grey-text">1日前</span></p>
  </li>
  <li class="collection-item avatar row">
    <a routerLink="/ki_ri_mi"><img src="assets/images/ki_ri_mi.png" alt="" class="circle"></a>

    <p class="col s8">ki_ri_miさんが新しい投稿をしました。<span class="grey-text">1週間前</span></p>
    <a routerLink="/photo/aaa" class="col s4"><img src="assets/images/sample-1.jpg" class="responsive-img photo right"></a>
  </li>
</ul>