<section class="section animated fadeIn">
  <ul class="collection">
    <li class="collection-item avatar row">
      <a routerLink="/ki_ri_mi"><img src="assets/images/ki_ri_mi.png" alt="" class="circle"></a>
      <p class="title">ki_ri_mi</p>
      <p>【フォンデュ＆ラクレット】 とろ～り、びよーん♪のおいしいチーズ料理&nbsp;<span class="grey-text right">2分前</span></p>
    </li>
    <li class="collection-item center">
      <img src="assets/images/sample-2.jpg" class="responsive-img">
    </li>
    <li class="collection-item">
      <a class=""><i class="material-icons">favorite_border</i></a>
      <a class=""><i class="material-icons">chat_bubble_outline</i></a>
      <a class=""><i class="material-icons">share</i></a>
      <a class="right"><i class="material-icons">bookmark_border</i></a>
    </li>
    <li class="collection-item row">
      <span class="col s7 m8 l9">
        <input type="text" name="comment" placeholder="コメントする">
      </span>
      <span class="col s5 m4 l3">
        <button class="btn waves-effect waves-light right pink accent-2" type="button">コメントする</button>
      </span>
    </li>
  </ul>
</section>