<ul class="collection">
  <li class="collection-item avatar row">
    <img [src]="imgPath" class="circle">

    <p class="caption">
      <span>芸能人の紹介多数！！冷凍ピザの概念を覆す、手焼き本格ナポリピザ【森山ナポリ】</span>&nbsp;<span class="grey-text right">[PR]</span>
      <img style="border:none" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3BDNDZ+F5YIIA+3E3U+61C2P"
        alt="">
    </p>
  </li>

  <li class="collection-item center">
    <!-- 広告 -->
    <a href="https://px.a8.net/svt/ejp?a8mat=3BDNDZ+F5YIIA+3E3U+61C2P" rel="nofollow noopener" target="_blank">
      <img class="photo-list responsive-img" alt=""
        src="https://www23.a8.net/svt/bgt?aid=200511143917&wid=001&eno=01&mid=s00000015825001014000&mc=1">
      <span class="cover"></span>
    </a>
  </li>
</ul>