<section class="section animated fadeIn">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, fl.files, form.valid)">
    <div class="row">
      <div class="col s12 file-field input-field">
        <div class="btn" appThemeColorBg="accent">
          <span>参照</span>
          <input type="file" formControlName="upfile" accept="image/gif,image/jpeg,image/png,image/bmp,video/mp4" #fl
            (change)="onchange(fl.files)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <!-- 画像プレビュー -->
    <div class="row" *ngIf="blobUrl">
      <div class="col s12">
        <img [src]="blobUrl" class="responsive-img">

        <ng-container *ngIf="form.controls['upfile'].touched">
          <span class="helper-text" *ngIf="form.controls['upfile'].hasError('required')" data-error="入力してください"></span>
        </ng-container>
      </div>
    </div>

    <!-- 動画プレビュー -->
    <div class="row" *ngIf="blobVideoUrl">
      <div class="col s12">
        <iframe [src]="blobVideoUrl"></iframe>

        <ng-container *ngIf="form.controls['upfile'].touched">
          <span class="helper-text" *ngIf="form.controls['upfile'].hasError('required')" data-error="入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12 input-field">
        <textarea id="caption" type="text" class="validate materialize-textarea" formControlName="caption"
          maxlength="120" data-length="120"></textarea>
        <label for="caption">キャプション</label>
        <ng-container *ngIf="form.controls['caption'].touched">
          <span class="helper-text" *ngIf="form.controls['caption'].hasError('required')" data-error="入力してください"></span>
          <span class="helper-text" *ngIf="form.controls['caption'].hasError('maxlength')"
            data-error="120文字以内で入力してください"></span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button [disabled]="!form.valid || isError" class="btn waves-effect right" appThemeColorBg="accent"
          type="submit">シェアする
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</section>