<ng-container *ngIf="photoData">
  <div class="row">
    <div class="col s4 m4 l4" *ngFor="let photo of photoData.content">
      <div class="card">
        <div class="card-image">
          <!-- 画像 -->
          <a [routerLink]="['/photo/', photo.cd]">
            <img class="photo-list" [src]="photo.imgUrl | safeHtml" alt="{{photo.caption}}">
            <span class="cover"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col s12" *ngIf="photoData.totalElements === 0">
      <p>まだ投稿がありません。</p>
    </div>
  </div>

  <!-- ページネーション -->
  <app-pagination [pageData]="photoData" (onNext)="getPhotoList($event)"></app-pagination>
</ng-container>