<ng-container *ngIf="photoData">
  <div class="row">
    <div class="col s4 m4 l4" *ngFor="let photo of photoData.content">
      <div class="card">
        <div class="card-image">
          <!-- 画像 -->
          <ng-container *ngIf="photo.imgUrl.indexOf('/photo/') !== -1">
            <a [routerLink]="['/photo/', photo.cd]">
              <img class="photo-list" src="{{photo.imgUrl}}" alt="{{photo.caption}}">
              <span class="cover"></span>
            </a>
          </ng-container>
          <!-- 動画 TODO サムネイル -->
          <ng-container *ngIf="photo.imgUrl.indexOf('/video/') !== -1">
            <a [routerLink]="['/photo/', photo.cd]">
              <video class="photo-list" src="{{photo.imgUrl}}"></video>
              <span class="cover"></span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col s12" *ngIf="photoData.totalElements === 0">
      <p>まだ投稿がありません。</p>
    </div>
  </div>

  <!-- ページネーション -->
  <app-pagination [pageData]="photoData" (onNext)="getPhotoList($event)"></app-pagination>
</ng-container>