<!-- 写真コンポーネント -->
<ul class="collection" *ngIf="photo">
  <li class="collection-item avatar row">
    <a [routerLink]="['/', photo.account.loginId]"><img src="assets/images/{{photo.account.loginId}}.png" alt=""
        class="circle"></a>
    <p class="title" *ngIf="hasInputComment">{{photo.account.loginId}}</p>
    <p class="caption">{{photo.caption}}&nbsp;<span class="grey-text right">{{photo.createAt | pastDate}}</span></p>
  </li>
  <li class="collection-item center">
    <ng-container *ngIf="hasInputComment">
      <img src="{{photo.imgUrl}}" class="photo responsive-img">
      <div class="cover"></div>
    </ng-container>
    <ng-container *ngIf="!hasInputComment">
      <a [routerLink]="['/photo/', photo.cd]">
        <img src="{{photo.imgUrl}}" class="photo-list responsive-img">
        <span class="cover"></span>
      </a>
    </ng-container>
  </li>
  <li class="collection-item" *ngIf="hasInputComment">
    <div>
      <a class="pink-text" href="javascript:void(0);" (click)="like()">
        <i *ngIf="photo.isLike" class="material-icons">favorite</i>
        <i *ngIf="!photo.isLike" class="material-icons">favorite_border</i>
      </a>
      <a class="pink-text" href="javascript:void(0);" (click)="focusComment()">
        <i class="material-icons">chat_bubble_outline</i></a>
      <a class="modal-trigger pink-text" href="javascript:void(0);" data-target="share-modal">
        <i class="material-icons">share</i></a>
      <a class="pink-text right"><i class="material-icons">bookmark_border</i></a>
    </div>
    <div *ngIf="photo.likeCount">いいね！{{photo.likeCount}}件</div>
  </li>
  <li class="collection-item row" *ngIf="hasInputComment">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
      <span class="col s7 m8 l9">
        <input type="text" class="validate" id="comment" name="comment" placeholder="コメントする" formControlName="comment"
          required maxlength="120" data-length="120">
      </span>
      <span class="col s5 m4 l3">
        <button class="btn waves-effect waves-light right pink accent-2" type="submit"
          [disabled]="!form.valid">コメントする</button>
      </span>
    </form>
  </li>
  <li class="collection-item row" *ngIf="hasInputComment && photo.comments && photo.comments.length > 0">
    <ul class="comments">
      <li class="row" *ngFor="let comment of photo.comments; let i = index"><span class="col"><a
            [routerLink]="['/', comment.account.loginId]">@{{comment.account.loginId}}</a></span><span
          class="col">{{comment.comment}}</span>
        <span class="col right">
          <a class="pink-text" href="javascript:void(0);" (click)="likeComment(i)">
            <i *ngIf="comment.isLike" class="material-icons">favorite</i>
            <i *ngIf="!comment.isLike" class="material-icons">favorite_border</i>
          </a>
        </span>
      </li>
    </ul>
  </li>
</ul>

<!-- シェアモーダル -->
<app-share-modal></app-share-modal>