.avatar img {
  border: 1px solid rgba(0,0,0,.0975);
}
img {
  vertical-align: bottom;
}
.photo-list {
  display: block;
  width: 100%;
  object-fit: cover;
}
.collection .collection-item {
  position: relative;

  &:nth-child(2) {
    padding: 0;
  }
}
.comments {
  .row {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* M以上 */
@media only screen and (min-width: 600px) {
  .caption {
    font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .photo-list {
    max-height: 100px;
  }
}

/* S */
@media only screen and (max-width: 600px) {
  .section {
    padding-top: 0;
  }
}