<ul class="collection" *ngIf="activityList.length > 0">
  <li class="collection-item avatar row" *ngFor="let activity of activityList">
    <a [routerLink]="['/', activity.account.loginId]"><img appAccountImage [src]="activity.account.imgUrl"
        [alt]="activity.account.loginId" class="circle"></a>

    <p class="col s8">
      <ng-container *ngIf="activity.activityType === 1">
        <a [routerLink]="['/', activity.account.loginId]">@{{activity.account.loginId}}</a>さんがあなたの投稿に<b>コメント</b>しました。
      </ng-container>
      <ng-container *ngIf="activity.activityType === 2">
        <a [routerLink]="['/', activity.account.loginId]">@{{activity.account.loginId}}</a>さんがあなたの投稿に<b>いいね！</b>しました。
      </ng-container>
      <ng-container *ngIf="activity.activityType === 3">
        <a [routerLink]="['/', activity.account.loginId]">@{{activity.account.loginId}}</a>さんがあなたを<b>フォロー</b>しました。
      </ng-container>
      <ng-container *ngIf="activity.activityType === 4">
        <a [routerLink]="['/', activity.account.loginId]">@{{activity.account.loginId}}</a>さんが<b>新しい投稿</b>をしました。
      </ng-container>
      <ng-container *ngIf="activity.activityType === 5">
        <a [routerLink]="['/', activity.account.loginId]">@{{activity.account.loginId}}</a>さんがあなたのコメントに<b>いいね！</b>をしました。
      </ng-container>
      <span class="grey-text">{{activity.createdAt | pastDate}}</span>
    </p>
    <a *ngIf="activity.photo" [routerLink]="['/photo/', activity.photo.cd]" class="col s4"><img
        src="{{activity.photo.imgUrl}}" class="responsive-img photo right" alt="{{activity.photo.caption}}">
    </a>
  </li>
</ul>
<div *ngIf="activityList.length === 0">
  <p>フォローしている人のアクティビティがありません。</p>
</div>