.card-title {
  font-size: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row .col {
  padding: 0 0.075rem;
}
.scroll-viewport-viewport {
  width: 200px;
  height: 200px;
}