<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-1.jpg">
            <span class="card-title">【フォンデュ＆ラクレット】 とろ～り、びよーん♪のおいしいチーズ料理</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p>本格的に寒い季節はもう目前。とろ～りとろけるチーズを使った料理が恋しい季節です。今回は、冷える夜にぴったりの身体も食卓も温めてくれる、簡単なチーズを使ったアペリティフ（前菜）レシピと美味しい2大チーズ料理「チーズフォンデュ」と「ラクレット」のレシピ、チーズフォンデュとラクレットが食べられるレストランをご紹介します♪</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-2.jpg">
            <span class="card-title">おうちで簡単！SNSで話題のもちもちとろ～りチーズレシピ♡</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p>チーズが大好きで、スライスチーズやとろけるチーズを冷蔵庫に常備しているチーズ好きさん必見。今SNSで話題になっている、チーズを使った簡単でしかも絶品な、もちもちでとろ～り食感がクセになるレシピをご紹介します！</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-3.jpg">
            <span class="card-title"></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-4.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-5.jpg">
            <span class="card-title"></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <img class="materialboxed" width="650" src="assets/images/sample-6.jpg">
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
            custom components. Additionally, we refined animations and transitions to provide a smoother experience for
            developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework
            that incorporates components and animations that provide more feedback to users. Additionally, a single
            underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users
            get started. We are also always open to feedback and can answer any questions a user may have about
            Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
          full time job. Any amount would help support and continue development on this project and is greatly
          appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>