<article class="section animated fadeIn" *ngIf="photoData">
  <div class="row">
    <ng-container *ngFor="let photo of photoList; let i = index">
      <!-- 広告を挿入 -->
      <ng-container *ngIf="i === 3 && isDisplayAdd">
        <div class="col s12 m6 l4 animated fadeIn">
          <app-ad-card></app-ad-card>
        </div>
      </ng-container>

      <!-- 投稿 -->
      <div class="col s12 m6 l4 animated fadeIn">
        <app-photo-card [photo]="photo"></app-photo-card>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="!photoData.last">
    <div class="col s12 center">
      <a #nextLink appThemeColorText="mainLink" (click)="next()" href="javascript:void(0);">もっと見る</a>
    </div>
  </div>
</article>
<app-my-adsense></app-my-adsense>