<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-1.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p class="card-title" title="【フォンデュ＆ラクレット】 とろ～り、びよーん♪のおいしいチーズ料理">【フォンデュ＆ラクレット】 とろ～り、びよーん♪のおいしいチーズ料理</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-2.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p class="card-title" title="おうちで簡単！SNSで話題のもちもちとろ～りチーズレシピ♡">おうちで簡単！SNSで話題のもちもちとろ～りチーズレシピ♡</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-3.jpg">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-4.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-5.jpg">
            <span class="card-title"></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/sample-6.jpg">
            <span class="card-title"></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a>
          </div>
          <div class="card-content">
            <p title="チーズ好き必見♡とろ〜り食感がたまらない濃厚チーズレシピ6選">チーズ好き必見♡とろ〜り食感がたまらない濃厚チーズレシピ6選</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
