<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">{{title}}について</h5>
        <p class="grey-text text-lighten-4">{{description}}</p>
        <ul>
          <li><a class="white-text" routerLink="terms">利用規約</a></li>
          <li><a class="white-text" routerLink="privacy">プライバシーポリシー</a></li>
          <li><a class="white-text" routerLink="contact">お問合せ</a></li>
        </ul>
        <ul *ngIf="twitter || instagram">
          <li *ngIf="twitter"><a class="white-text" href="https://twitter.com/{{twitter}}" target="_blank"
              rel="nofollow noreferrer noopener">Twitter</a></li>
          <li *ngIf="instagram"><a class="white-text" href="https://www.instagram.com/{{instagram}}/" target="_blank"
              rel="nofollow noreferrer noopener">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a routerLink="/" class="white-text">&copy; 2020 {{title}}</a>
    </div>
  </div>
</footer>