<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">あゝ愛しのチーズについて</h5>
        <p class="grey-text text-lighten-4">チーズ大好きな人集まれ！チーズ民のチーズ民によるチーズ民のためのSNSです。</p>
        <ul>
          <li><a class="white-text" routerLink="terms">利用規約</a></li>
          <li><a class="white-text" routerLink="privacy">プライバシーポリシー</a></li>
          <li><a class="white-text" href="#!">お問合せ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2019 あゝ愛しのチーズ
    </div>
  </div>
</footer>