<section class="section">
  <div class="row">
    <div class="col s3">
      <img src="assets/images/mymelody.png" alt="my_melody" class="avatar circle responsive-img">
    </div>
    <div class="col s9">
      <h3 class="h5">マイメロディ</h3>
      <h2 class="h6 grey-text">@my_melody</h2>
      <a class="waves-effect waves-light btn-small right pink accent-2" routerLink="/setting/profile">プロフィール編集</a>
      <p>
        <img src="https://www.google.com/s2/favicons?domain=twitter.com" alt="twitter" width="16" height="16">
        <img src="https://www.google.com/s2/favicons?domain=www.facebook.com" alt="facebook" width="16" height="16">
        <img src="https://www.google.com/s2/favicons?domain=www.instagram.com" alt="instagram" width="16" height="16">
      </p>
      <p>おはよう♪　あさごはん　ちゃんとたべた〜？　いっしゅうかん　がんばろうね♪</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="account#post">投稿(4)</a></li>
        <li class="tab col s3"><a href="account#following">フォロー(1)</a></li>
        <li class="tab col s3 disabled"><a href="account#followers">フォローワー(0)</a></li>
        <li class="tab col s3"><a href="account#like">いいね(2)</a></li>
      </ul>
    </div>

    <!-- 投稿 -->
    <div id="post" class="col s12">
      <app-account-post></app-account-post>
    </div>

    <!-- フォロー -->
    <div id="following" class="col s12" style="display:none;">
      <app-account-following></app-account-following>
    </div>

    <!-- フォローワー -->
    <div id="followers" class="col s12" style="display:none;">
      <app-account-followers></app-account-followers>
    </div>

    <!-- いいね -->
    <div id="like" class="col s12" style="display:none;">
      <app-account-like></app-account-like>
    </div>
  </div>
</section>