<header>
  <div class="navbar-fixed">
    <nav class="yellow lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" routerLink="/"
          class="brand-logo brown-text text-darken-2"><img src="./assets/images/logo_b.jpg" height="55"></a>

        <ng-container *ngIf="isLink">
          <ul class="right hide-on-med-and-down">
            <li>
              <nav class="transparent" style="position:relative; box-shadow:none;">
                <div class="nav-wrapper">
                  <form autocomplete="off">
                    <div class="input-field">
                      <input id="search" type="search" required class="autocomplete">
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>
              </nav>
            </li>
            <!-- ログイン時 -->
            <ng-container *ngIf="authenticated">
              <li><a routerLink="create"><i class="material-icons">photo_camera</i></a></li>
              <li><a routerLink="activity"><i class="material-icons">favorite</i></a></li>
            </ng-container>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
                <i *ngIf="!account" class="material-icons">person</i>
                <img *ngIf="account" appAccountImage [src]="account.imgUrl | safeHtml" [alt]="account.loginId"
                  class="avatar circle responsive-img white" style="width: 28px; vertical-align: middle;">
              </a></li>
          </ul>

          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <!-- ログイン時 -->
            <ng-container *ngIf="authenticated">
              <li><a class="grey-text text-darken-2" routerLink="account"><i class="material-icons">person</i>アカウント</a>
              </li>
              <li><a class="grey-text text-darken-2" routerLink="setting/display"><i
                    class="material-icons">settings</i>設定</a>
              <li><a routerLink="logout" class="grey-text text-darken-2"><i
                    class="material-icons">exit_to_app</i>ログアウト</a>
              </li>
            </ng-container>
            <!-- 未ログイン時 -->
            <ng-container *ngIf="!authenticated">
              <li><a routerLink="login" class="grey-text text-darken-2">ログイン</a>
              <li><a routerLink="signup" class="grey-text text-darken-2">アカウント登録</a></li>
            </ng-container>
          </ul>

          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </ng-container>
      </div>
    </nav>
  </div>

  <!-- サイドナビ -->
  <ul id="nav-mobile" class="sidenav">
    <ng-container *ngIf="isLink">
      <li>
        <a href="javascript:void(0);" class="input-field">
          <i class="material-icons">search</i>
          <input type="text" class="autocomplete validate" style="width:initial" placeholder="検索"
            (keyup)="onChangeSearch($event)">
        </a>
      </li>
      <!-- ログイン時 -->
      <ng-container *ngIf="authenticated">
        <li><a routerLink="create" class="sidenav-close"><i class="material-icons">photo_camera</i>投稿</a></li>
        <li><a routerLink="activity" class="sidenav-close"><i class="material-icons">favorite</i>アクティビティ</a></li>
        <li><a routerLink="account" class="sidenav-close"><i class="material-icons">person</i>アカウント</a></li>
        <li><a routerLink="setting/display" class="sidenav-close"><i class="material-icons">settings</i>設定</a></li>
        <li><a routerLink="contact" class="sidenav-close"><i class="material-icons">mail_outline</i>お問い合わせ</a></li>
        <li><a routerLink="logout" class="sidenav-close"><i class="material-icons">exit_to_app</i>ログアウト</a></li>
      </ng-container>
      <!-- 未ログイン時 -->
      <ng-container *ngIf="!authenticated">
        <li><a routerLink="login" class="sidenav-close"><i class="material-icons">person</i>ログイン</a></li>
        <li><a routerLink="contact" class="sidenav-close"><i class="material-icons">mail_outline</i>お問い合わせ</a></li>
      </ng-container>
    </ng-container>
  </ul>
</header>