.avatar {
  border: 1px solid rgba(0, 0, 0, 0.0975);
}

/* S */
@media only screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

/* XS */
@media only screen and (max-width: 480px) {
  nav .brand-logo {
    font-size: 1.2rem;
  }
}

nav .input-field label {
  top: -12px; /* autocompleteにより位置がずれるため調整 */
}

input[type="search"] {
  color: #fff; /* .input-field input[type=search]:focus:not(.browser-default) を上書き */

  &:focus ~label i {
    color: #444;
  }
}
